<%= form_for @survey do |f| %>
  <% if @survey.errors.any? %>
    <% @survey.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>:
    <%= f.text_field :title, autofocus: true, class: 'form-control' %><br />
  </div>

  <h3>Questions</h3>

  <div id="questions">
    <%= f.fields_for :questions do |question| %>
      <% render 'question_fields', f: question %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add question', f, :questions %>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary btn-block" %>
<% end %>
<p><%= link_to "Cancel", surveys_path, class: "btn btn-secondary btn-md btn-block" %></p>
